.profile__edit-btn {
    margin: 11px 0 0 0;
    padding: 0;
    width: 24px;
    height: 24px;
    position: relative;
    border: 1px solid #FFFFFF;
    background-image: url(../../../images/edit-btn.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .profile__edit-btn {
      align-self: baseline;
      margin-top: 30px;
      width: 18px;
      height: 18px;
  }
}
