.profile {
  display: grid;
  grid-template-columns: 120px 336px auto;
  gap: 30px;
  color: #ffffff;
  margin: 40px auto 48px;
  width: 100%;
  max-width: 880px;
}

@media (max-width: 768px) {
  .profile {
      max-width: 282px;
      gap: 1px;
      grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  }
}
