.location-card__name {
  padding: 25px 0 31px 0;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  max-width: 190px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
