.location-cards {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 23px 17px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media (max-width: 900px) {
  .location-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
  .location-cards {
    grid-template-columns: 1fr;
    gap: 21px;
  }
}
