.popup__close-btn {
    position: absolute;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    background: #FFFFFF;
    background-image: url(../../../images/close-btn.svg);
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .popup__close-btn {
      width: 20px;
      height: 20px;
      top: -40px;
      right: 0;
      background-image: url(../../../images/close-btn-sm.svg);
  }
}
