.profile__info {
    margin: 0;
    padding-top: 25px;
    max-width: 336px;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 18px;
}

@media (max-width: 768px) {
  .profile__info {
      padding-top: 0px;
      max-width: 282px;
      grid-template-columns: 83% auto;
      justify-items: space-around;
      column-gap: 10px;
  }
}
